// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
$mytheme-color-teal: #7fcfaa;
$mytheme-color-redish: #d8424c;
$mytheme-color-brownish: #3f3529;
